@import "tailwindcss";

@font-face {
  font-family: Avro-Regular;
  src: url(../src/assets/fonts/Arvo-Regular.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../src/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../src/assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(../src/assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../src/assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: Alatsi-Regular;
  src: url(../src/assets/fonts/Alatsi-Regular.ttf);
}

@theme {
  --font-avro: 'Avro-Regular', sans-serif;
  --font-poppins: 'Poppins-Regular', sans-serif;
  --font-poppins-bold: 'Poppins-Bold', sans-serif;
  --font-poppins-semibold: 'Poppins-SemiBold', sans-serif;
  --font-poppins-medium: 'Poppins-Medium', sans-serif;
  --font-alatsi: 'Alatsi-Regular', sans-serif;
}